<div class="contain-form">
  <div class="contain-formulaire">
    <div class="bcgi">

    <div class="formulaire">
      <div class="screen-2">
      </div>
      <div class="container">
        <div class="form-wrapper">
          <%= simple_form_for @roadtrip do |f| %>
            <div class="form-inputs">
              <label><%= image_tag "road-line.png", class: "flat-icon" %> Nom du Roadtrip</label>
              <%= f.input :title, label: false %>
            </div>
            <%= f.input :start_date, label: "Sélectionnez vos dates:",
                                    as: :string,
                                    required: false,
                                    input_html: { id: "range_start", class: "d-none" } %>
            <%= f.input :end_date, label: false,
                                  as: :string,
                                  required: false,
                                  input_html: { id: "range_end", class: "d-none" } %>
              <div class="form-actions">
                <%= f.submit "Créer Roadtrip", class: "btn-signin" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>

    <div class="imageForm2">
    </div>
</div>
  <div id="roadtrip-form-div"
  data-roadtrips="<%= @roadtrips_dates.to_json %>">
