<div id="myBtn" class="discover-nav-link nav-link mr-2 text-danger">Messagerie</div>
<div id="myModal" class="modal <%= "d-none" unless params[:room].present? %>" data-current-user-id="<%= current_user.id %>">
  <div class="modal-content">
    <div class="d-flex modal-roadtrip">

      <%# LEFT PART %>
      <div class="col-4 roadtrips-room p-0">
        <div class="roadtrips-chat-title">
          <h3>Roadtrips chat</h3>
        </div>
        <% if current_user.roadtrips.last.present? %>
          <% current_user.roadtrips.each do |roadtrip| %>
            <%= link_to params.permit.merge(room: roadtrip.id) do %>
              <div class="roadtrip-button d-flex" id="roadtrip-room-<%= roadtrip.id %>">
                <div>
                  <% if roadtrip.messages.last.present? %>
                    <%= cl_image_tag roadtrip.messages.last.user.photo.key, class: "avatar" %>
                  <% else %>
                    <%= image_tag "default_user_image.png", class: "avatar" %>
                  <% end %>
                </div>
                <div class="roadtrip-lastmessage ml-2">
                  <p class="roadtrip-title"><%= roadtrip.title %></p>
                  <% if roadtrip.messages.last.present? %>
                    <p class="last-message"><%= roadtrip.messages.last.content %></p>
                  <% else %>
                    <p class="last-message">Il n'y a aucun messages.</p>
                  <% end %>
                </div>
                <div class="roadtrip-lastmessage-date">
                  <% if roadtrip.messages.last.present? %>
                    <p><%= roadtrip.messages.last.created_at.strftime('%a %d') %></p>
                  <% else %>
                    <p><%= roadtrip.created_at.strftime('%a %d') %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

        <% else %>
          <p>Commencer par rejoindre un roadtrip pour accéder à sa chatroom.</p>
        <% end %>
      </div>

      <%# RIGHT PART %>
      <div class="col-8 roadtrip-message">
        <div class="modal-green-top">
          <span class="close">&times;</span>
        </div>
        <% if params[:room].present? %>
          <p class="roadtrip-start-paragraph text-center">Conversation commencé le <%= Roadtrip.find(params[:room]).created_at.strftime('%c') %></p>
        <% end %>

        <div class="messages-box">
          <% if params[:room].present? %>
            <div class="message-and-input">
              <div id="messages" data-chatroom-id="<%= Roadtrip.find(params[:room]).id %>">
                <% Roadtrip.find(params[:room]).messages.each do |message| %>
                  <% if ( message.user.id != current_user.id ) %>
                    <div class="message-box-content" id="message-<%= message.id %>">
                      <p>
                        <%= cl_image_tag message.user.photo.key, class: "avatar-bordered-small avatar-wrap" %>
                        <%= message.content %>
                      </p>
                    </div>
                  <% else %>
                    <div class="message-box-content-currentuser" id="message-<%= message.id %>">
                      <p>
                        <%= message.content %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="mt-3 simple-textarea message-form">
              <%= simple_form_for [ Roadtrip.find(params[:room]), @message ] do |f| %>
                <%= f.input :content, label: false, placeholder: "Message..." %>
                <%= f.submit "Envoyer", class: "btn button-dark-green m-0" %>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
